.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 44px;
  padding: 8px 5%;
  background-color: #222;
  border-radius: 0 0 24px 24px;

  .menubar {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    .menu:hover {
      color: burlywood;
    }
  }

  .menu {
    cursor: pointer;
    &.title {
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 4px;
    }
  }
}